html {
  font-size: 17px;
}
@media (max-width: 900px) {
  html { font-size: 15px; }
}
@media (max-width: 400px) {
  html { font-size: 13px; }
}

html, body {
	background-color: #f5f5f5;
}

body {
    font-family: "Tw Cen MT", Arial, sans-serif;
	font-size: 100%;	
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 0.85em;
}

a {
	text-decoration: none;	
    color: black;
}
a:hover {	
    color: #444;
}

input {
	font-family: "Tw Cen MT", Arial, sans-serif;
}

header {
	background-color: #fff;
	font-size: 1.75em;
	padding: 1.5em 0 .75em;	
	padding: 1em 5%;
	font-weight: 600;
	font-family: "Tw Cen MT Condensed","Tw Cen MT", Arial, sans-serif;
}

header div a {
	color: black;
}

header .right {
	font-size: .65em;
	float:right;
	font-weight: 400;
	font-family: "Tw Cen MT", Arial, sans-serif;
}
	
header div img {
	margin-right: .3em;
	vertical-align: middle;
}

header div.right img {
	border-radius: 100%;
	vertical-align: middle;
	height:2em;
}

.breadcrumb {	
	clear: both;
	padding: 1em 5%;
	background-color: #3895e4;
	color: #fff;
}

.breadcrumb .item {
	color: #ccc;
}
.breadcrumb .active.item {
	color: #fff;
}

main {	
	background-color: #fff;
	max-width: 90%;
	margin: 1em auto;
	padding: 1em;
}

footer {
	margin-top: 2em;
	text-align: center;
	clear: both;
	padding: 1em 5%;
	background-color: #212121;
	color: #fff;
}