.button {
	width: 1.5em;
	float:right;
	padding: .25em 0;
	text-align: center;
	background-color: #cfcfcf;	
	color: #fff;
	font-size: 1.5em;
}

.button:hover {
	opacity: 0.75;
	cursor: pointer;
}

.list {
	clear:both;
	margin-bottom: 2em;
}

.list .title {
	display: block;
	font-family: "Tw Cen MT Condensed", "Tw Cen MT", Arial, sans-serif;
	font-weight: 900;
	font-size: 1.5em;
	margin-bottom: 0.25em;
}

.list .action {
	float:right;
	display: block;
}

.list .content .item {
	display: inline-block;
	width: 15%;	
	margin-right: 1.3%;
}

.list .content .item:last-child {
	margin-right: 0;
}

.list .content .item .image img {
	width: 100%;
	position:relative;
}

.list .content .item .description {
	position:relative;
	display:block;
	height: 2em;
	padding: 0.5em;
	color: #fff;
	margin-top: -3.25em;
	z-index: 1000;
	background-color:rgba(0,0,0,0.5);
}

@media (max-width: 900px) {
	.list .content .item {
		display: inline-block;
		width: 30%;	
		margin-right: 2%;
	}
	.list .content .item:nth-of-type(1n+4) {
		display: none;
	}
}
