html {
  font-size: 17px;
}
@media (max-width: 900px) {
  html { font-size: 15px; }
}
@media (max-width: 400px) {
  html { font-size: 13px; }
}

html, body {    
    height: 100%;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0.6)), url("../images/layout/background.jpg");
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0.6)), url("../images/layout/background.jpg");
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0.6)), url("../images/layout/background.jpg");
    background-image: -o-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0.6)), url("../images/layout/background.jpg");
    background-image: linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0.6)), url("../images/layout/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: "Tw Cen MT", Arial, sans-serif;
	font-size: 100%;
}

a {
    text-decoration: none;
    color: white;
}

.button {
    padding: .2em 1.35em;
    border-radius: .2em;
    border: .1em solid white;
    border-bottom: 0.15em solid;
}

section {
    padding: 30px 0;
    position: absolute;
    color: white;
    top: 50%;
    margin-top: -150px;
    height: 200px;
    width: 100%;
    text-align: center;
}

section > h1 {
	font-family: "tw cen mt condensed", "tw cen mt", arial, sans-serif;
    font-size: 4em;
    font-weight: 900;
    margin-bottom: .5em;
}

section > h1 > small {	
	font-family: "tw cen mt", arial, sans-serif;
    display: block;
    font-size: 0.4em;
    font-weight: 400;
	line-height: 1.2em;
	max-width: 50%;
	margin: 0 auto;
}

@media (max-width: 900px) {
  section > h1 > small { max-width: 95%; }
}
@media (max-width: 400px) {
  section > h1 > small { max-width: 95%; }
}

    section .button {
        margin-top: 5em;
        font-size: 26px;
    }

header {
	font-family: "tw cen mt condensed", "tw cen mt", arial, sans-serif;
    padding-top: 1em;
    margin: 0 2.5em;
    font-size: 1.75em;
    font-weight: 900;
}

@media (max-width: 900px) {
  header { margin: 0 1.5em; }
}
@media (max-width: 400px) {
  header { margin: 0 .5em; }
}

    header img {
        vertical-align: middle;
        margin-right: 0.2em;
    }

    header div {
        float: left;
    }

header .button {   
    font-size: 0.8em;
	font-family: "tw cen mt", arial, sans-serif; 
    font-weight: 400;
    float: right;
}